body{
    margin: 0px;
    font-family: 'Chivo Mono';
}

ul{
    padding: 0px;
}

ul li{
    list-style-type: none;
    padding: 10px;
}

ul li a{
    text-decoration: none;
    color: black;
}
/*Header*/
header{
    background-color: #D7D7D7;
    margin: 0;
}

ul{
    padding: 0px;
}

ul li{
    list-style-type: none;
    padding: 10px;
}

ul li a{
    text-decoration: none;
    color: black;
}

header section article div.links{
    display: none;
    position: absolute;
    right: 30px;
    top: 80px;
    background-color: #d9d9d9;
    border-radius: 10px;
    width: 240px;
    flex-direction: column;
    text-align: center;
    padding: 20px 0px;
}

header section article input{
    display: none;
}

header section article input:checked ~ div.links{
    display: flex;
}

header section article label{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: black;
    font-size: 25px;
    height: 30px;
    width: 30px;
    padding: 10px;
}

header section article form button{
    background-color: #4e69cb;
    border: #4e69cb;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    align-self: center;
    color: white;
}

.logo-bars{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    color: #4e69cb;
    font-family: 'Chivo Mono', monospace;
    margin: 0px;
    padding-left: 5px;
}

/*Main*/

main{
    background-color: #ededed;
    margin: 20px 0px;
    padding: 35px;
}

main section article.primera-parte{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

h2{
    margin: 0px;
    font-size: 25px;
}

p{
    font-size: 20px;
}

.imagen{
    width: 100%;
}

main section article div.titulo-texto{
    padding-top: 15px;
}

main section article form button{
    background-color: #4e69cb;
    border: #4e69cb;
    width: 80%;
    height: 63px;
}

main section article form{
    display: flex;
    justify-content: center;
    width: 100%;
}

/*Footer*/

footer{
    background-color: #d9d9d9;
    padding: 15px;
}

footer p{
    margin: 0px;
    position: relative;
}

footer section article div.iconos-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
}

footer section article div.iconos-footer i{
    padding: 5px;
    font-size: 20px;
}
footer section article.iconos-links{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

footer section article div.links-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer section article div.contacto{
    display: flex;
    flex-wrap: wrap;
    padding-left:10px;
}

footer section article div.contacto p{
    font-size: 16px;
    padding: 2px;
}

footer section article div.copyright{
    display: flex;
    justify-content: flex-end;
}

div.copyright p{
    font-size: 16px;
}

@media (min-width:768px){

}

@media (min-width:1280px){
    
}