<%- include("./partials/head", {link :"/css/404-not-found.css", titulo: "404 not found"}) %>

<body>
    <h1>404</h1>
    <h2>Page not found</h2>
    <h3>Page are you looking is not available</h3>
    <a href=""><button class="button" >Back to home</button></a>
</body>

<%- include('./partials/footer')%>