<%- include('./partials/head')%>
<body>
    <link rel="stylesheet" href="/css/carrito-de-compras.css">
    <title>carrito de compras</title>
<!-- Header -->
    <%- include('./partials/header')%>
    
<!-- Main -->
    <main>
        <h2>Resumen de compra</h2>
        <section>
            <article class="seccion-1">
                <img src="/img/pexels-carrito.jpg" alt="">
                <input type="number" name="descuento" id="descuento" placeholder="Ingresá tu cupón de descuento.">
            </article>
            <article class="seccion-2">
                <form action="carrito-de-compras.html">
                    <span>
                        <div class="iconos">
                            <i class="fa-brands fa-cc-visa"></i>
                            <i class="fa-brands fa-cc-mastercard"></i>
                            <i class="fa-brands fa-cc-amex"></i>
                        </div>
                        <input type="number" name="num-tarjeta" id="num-tarjeta" placeholder="Número de tarjeta" required>
                    </span> 
                    <input type="text" name="nom-titular" id="nom-titular" placeholder="Nombre de titular" required>
                    <input type="number" name="dni" id="dni" placeholder="DNI" required>
                    <div class="iconos">
                        <i class="fa-sharp fa-solid fa-credit-card"></i>
                    </div>
                    <input type="number" name="cvc" id="cvc" placeholder="CVC" required>
                    <input type="date" name="vencimiento" id="vencimiento" placeholder="Fecha de vencimiento" required>
                    <input type="number" name="cuotas" id="cuotas" placeholder="numero de cuotas" required>
                    <div class="boton">
                        <button class="botones" type="submit" name="aplicar" id="aplicar">Aplicar</button>
                    </div> 
                </form>
            </article>
        </section>
    </main>
<!-- footer -->
    <%- include('./partials/footer')%>
</body>
</html>