<%- include("./partials/head", {link :"/css/create-product.css", titulo: "Crear producto"}) %>
<link rel="stylesheet" href="/css/create-product.css">
<title>Crear producto</title>
    
</head>
<body>
    <%- include('./partials/header')%>
<!--MAIN START-->
    <main>
        <form method="POST" action="/products/create" class="create-product">
            <section class="section-1">
                <div class="imagen">
                <img src="/img/upload img.jpg" alt="img" class="imagen">
                </div>
                <article class="detalle-producto">
                    <input type="text" placeholder="Nombre del producto" name="nombre" id="name">
                    
                    <textarea id="text" name="descripcion" rows="8" cols="40" placeholder="Descripción" id="description"></textarea>
                    
                    <div class="categoria-precios"> 
                        <input type="text" name="categoria" placeholder="Categoría" id="category">
                        <input type="number" name="precio" placeholder="Precio" id="price">
                    </div> 
                </article>
            </section>

            <section class="section-modulo">
                <article class="modulo">
                    <p class="subtitulo-main">Módulo 1</p>
                    <br>
                    <textarea class="descripcion" id="text" name="modulos" rows="8" cols="40" placeholder="Descripción"></textarea>
                    <br/>
                </article>
                <button type="button" class="boton-agregar">Agregar <p>+</p></button>
            </section>
            <section class="section-modalidad">
                <h2>Modalidad</h2>
                    <article class="modalidad1">
                        
                            <p class="subtitulo-main"><i class="fa-solid fa-laptop"></i> Cronograma</p>
                            <input class="descripcion" type="text" name="dias" placeholder="Días de clase" id="course-days">

                            <input class="descripcion" type="text" name="horarios" placeholder="Horarios de clase" id="schedules">
                    </article>
                    <article class="modalidad1">
                            <p class="subtitulo-main"><i class="fa-solid fa-calendar-days"></i> Fecha de inicio</p>
                            <input class="descripcion" type="date" name="fechaInicio"> 

                            <p class="subtitulo-main"><i class="fa-solid fa-calendar-days"></i> Fecha de finalización</p>
                            <input class="descripcion" type="date" name="fechaFinalizacion">
                    </article>
                    <article class="modalidad1">
                            <p class="subtitulo-main"><i class="fa-regular fa-clock"></i> Turnos</p>
                            <select class="descripcion" name="turno" id="">
                                <option value="" disabled selected>Selecciona el turno elegido</option>
                                <option value="Mañana">Mañana</option>
                                <option value="Tarde">Tarde</option>
                                <option value="Noche">Noche</option>
                            </select>
                        </article>
                    </section>
                    <button class="boton-submit" type="submit">Subir nuevo programa</button>
        </form>
    </main>
<!--MAIN ENDS-->
    <%- include('./partials/footer')%>
</body>
</html>