<%- include("./partials/head", {link :"/css/create-product.css", titulo: "Crear producto"}) %>
<link rel="stylesheet" href="/css/create-product.css">
<title>Crear producto</title>
    
</head>
<body>
    <%- include('./partials/header')%>
<!--MAIN START-->
    <main>
        <div class="errors">
            <ul></ul>    
        </div>
        <form method="POST" action="/products/create" class="create-product" enctype="multipart/form-data">
            <section class="section-1">
                <div class="imagen">
                    <input type="file" class="createImage" id="createImage" name="createImage">
                    <label for="createImage"><img src="/img/img-courses/upload img.jpg" alt="img" class="imagen"></label>
                </div>
                <article class="detalle-producto">
                    <input type="text" placeholder="Nombre del producto" name="nombre" id="name">
                    
                    <textarea id="text" name="descripcion" rows="8" cols="40" placeholder="Descripción" ></textarea>
                    
                    <div class="categoria-precios"> 
                        <input type="text" name="categoria" placeholder="Categoría" id="category">
                        <input type="number" name="precio" placeholder="Precio" id="price">
                    </div> 
                </article>
            </section>

            <!--<section class="section-modalidad">
                <h2>Modalidad</h2>
                    <article class="modalidad1">
                        
                            <label class="subtitulo-main"><i class="fa-solid fa-laptop"></i> Cronograma</label>
                            <input class="descripcion" type="text" name="dias" placeholder="Días de clase" id="course-days">
                    </article>
                    <article class="modalidad1">
                            <label class="subtitulo-main"><i class="fa-solid fa-calendar-days"></i> Fecha de inicio</label>
                            <input class="descripcion" type="date" name="fechaInicio" id="dateStart"> 

                            <label class="subtitulo-main"><i class="fa-solid fa-calendar-days"></i> Fecha de finalización</label>
                            <input class="descripcion" type="date" name="fechaFinalizacion" id="dateEnd">
                    </article>
                    <article class="modalidad1">
                            <label class="subtitulo-main"><i class="fa-regular fa-clock"></i> Turnos </label>
                            <select class="descripcion" name="turno" id="shift">
                                <option value="" disabled selected>Selecciona el turno elegido</option>
                                <option value="Mañana">Mañana</option>
                                <option value="Tarde">Tarde</option>
                                <option value="Noche">Noche</option>
                            </select>
                        </article>
             </section>-->
                    <button class="boton-submit" type="submit">Subir nuevo programa</button>
        </form>
    </main>
<!--MAIN ENDS-->
    <%- include('./partials/footer')%>
    <script src="/js/validationCreateProduct.js"></script>
</body>
</html>