<%- include("./partials/head", {link :"/css/developing.css", titulo: "developing"}) %>
<%- include('./partials/header')%>

<body>
    <div class="notFound">
        <h1>Estamos trabajando en estas funcionalidades!</h1>
        <a href="/"><button class="button" >Ir al home!</button></a>
    </div>
</body>

<%- include('./partials/footer')%>