<%- include("./partials/head", {link :"/css/load-edit-product.css", titulo: "Edición"}) %>
<link rel="stylesheet" href="/css/load-edit-product.css">
<title>Edición</title>
<body>
    
</head>
<body>
    <%- include('./partials/header')%>
<!--MAIN START-->
    <main>
        <section class="section-1">
            <img src="/img/upload img.jpg" alt="img" class="imagen">
            <form action="">
                <input type="text" placeholder="Nombre del producto">
                <br>
                <textarea id="text" name="text" rows="8" cols="40" placeholder="Descripción"></textarea>
                <br/>
                <div class="categoria-precios"> 
                    <input type="text" placeholder="Categoría">
                    <input type="number" placeholder="Precios">
                </div>
                
            </form>
        </section>

        <section>
            <form action="">
                <label for="text">Modulo 1</label>
                <br>
                <textarea id="text" name="text" rows="8" cols="40" placeholder="Descripción"></textarea>
                <br/>
              </form>
            <button class="botones">Agregar <p>+</p></button>

            <article class="contenedor-modulos-modalidad">
                <h2>Modalidad</h2>
                <ul>
                <li class="plan">
                    <i class="fa-solid fa-calendar-days"></i>
                    <span class="simbolos-p">
                        <p class="p-plan">Duración</p>
                        <input type="number"> <span> Meses</span>
                    </span>
                </li>
                <li class="plan">
                    <i class="fa-solid fa-laptop"></i>
                    <span class="simbolos-p">
                        <p class="p-plan">Dedicación semanal</p>
                        <input type="number"> <span> Horas</span>
                    </span>
                </li>
                <li class="plan">
                    <i class="far fa-file"></i></i>
                    <span class="simbolos-p">
                        <p class="p-plan">Fechas</p>
                        <input type="date">
                    </span>
                </li>
                <li class="plan">
                    <i class="fa-regular fa-clock"></i>
                    <span class="simbolos-p">
                        <p class="p-plan">Turnos</p>
                        <select name="Turnos" id="">
                            <option value="" disabled selected> Selecciona el turno elegido </option>
                            <option value="Mañana">Mañana</option>
                            <option value="Tarde">Tarde</option>
                            <option value="Noche">Noche</option>
                        </select>
                        
                    </span>
                </li>
                </ul>
                <div class="div-descargar-programa">
                    <a href="#" class="vista-desktop botones">Subir nuevo programa</a>
        
                </div>
                </article>
        </section>
    </main>
<!--MAIN ENDS-->
    <%- include('./partials/footer')%>
</body>
</html>