<%- include("./partials/head", {link :"/css/edit-profile.css", titulo: "Editar Perfil"}) %> <!--Tengo que sacar el iniciar sesion-->
    <link rel="stylesheet" href="/css/edit-profile.css">
    <title>Creative Place Usuario</title>
<body>
    <%- include('./partials/header')%>
<!-- MAIN--> 

    <main>
editar perfil
        
    </main> 

<!--Termina MAIN-->
    <%- include('./partials/footer')%>
</body>
</html>