<%- include('./partials/head')%>
<body>
    <%- include('./partials/header')%>
<!-- MAIN--> 

    <main>
        <section class="first-section">
            <img src="img/img-home.jpg" alt="" class="imagen" >
            <h1 class="welcome-title">Bienvenidos a Creative Pleace</h1>
            <p  class="welcome-message"> 
                En este espacio vas a encontrar lo que te impulsa al futuro
            </p>
            <button class="botones2">
                ¡Aplicá ya!
            </button>               
        </section>  
        <section class="second-section">
            <a href="#">
                Marketing Digital
            </a>

            <a href="#">
                Ingles para Programadores
            </a>

             <a href="#">
                Data Analitycs
            </a>

            <a href="#">
                Data Science
             </a>
             
            <a href="#">
                Full Stack Developper
            </a>

            <a href="#">
                Cyber Security
            </a>
        </section>

        <section></section>
    </main> 

<!--Termina MAIN-->
    <%- include('./partials/footer')%>
</body>
</html>