<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ad448170b5.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel="Stylesheet" href="/css/styles.css">
    <title>Creative place</title>
</head>
<body>
        <header class="logo-bars">
            <h2 class="logo">Creative Place</h2>
            <article class="menu-desplegable"><!--Caja del menú desplegable-->
                    <input type="checkbox" name="menu-hamburguesa" id="menu-hamburguesa">
                    <label for="menu-hamburguesa"><i class="fas fa-bars"></i></label>
                    <div class="links">
                        <form action="#" method="post">
                            <button>Iniciar Sesión</button>
                        </form>
                        <ul>
                            <li><a href="#">Cursos</a></li>
                            <li><a href="#">Sobre nosotros</a></li>
                            <li><a href="#">Contáctanos</a></li>
                            <li><a href="#">Empresas</a></li>
                        </ul>
                    </div>
            </article>
            <nav class="vista-desktop">
                <a href="#">Cursos</a>
                <a href="#">Sobre nosotros</a>
                <a href="#">Contáctanos</a>
                <a href="#">Empresas</a>
            </nav>
            <form action="#" method="post" class="vista-desktop">
                <input type="search" name="search" id="search" placeholder="Estoy buscando...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>                
            <a href="#" class="vista-desktop">Iniciar Sesión</a> 
    </header>

<!-- MAIN--> 

    <main>
        <section class="first-section">
            <img src="img/img-home.jpg" alt="" class="imagen" >
            <h1 class="welcome-title">Bienvenidos a Creative Pleace</h1>
            <p  class="welcome-message"> 
                En este espacio vas a encontrar lo que te impulsa al futuro
            </p>
            <button class="botones2">
                ¡Aplicá ya!
            </button>               
        </section>  
        <section class="second-section">
            <a href="#">
                Marketing Digital
            </a>

            <a href="#">
                Ingles para Programadores
            </a>

             <a href="#">
                Data Analitycs
            </a>

            <a href="#">
                Data Science
             </a>
             
            <a href="#">
                Full Stack Developper
            </a>

            <a href="#">
                Cyber Security
            </a>
        </section>

        <section></section>
    </main> 

<!--Termina MAIN-->

    <footer>
        <section class="mobile-footer">
            <h2 class="logo">Creative Place</h2>
            <article class="iconos-links">
                <div class="links-footer">
                    <ul>
                        <li><a href="#">Términos y condiciones</a></li>
                        <li><a href="#">Políticas de privacidad</a></li>
                        <li><a href="#">Sobre nosotros</a></li>
                        <li><a href="#">Comunidad</a></li>
                    </ul>
                    <div class="contacto">
                        <p class="p-contacto">contacto:</p>
                        <span>
                            <p>CreativePlace@gmail.com</p>
                            <p>+54 9 1224378</p>
                        </span>
                    </div>
                </div>
                <div class="iconos-footer">
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-facebook"></i>
                    
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-whatsapp"></i>
                </div>
            </article>
            <div class="copyright">
                <p>© 2022 Creative Place</p>
            </div>
        </section>
        <section class="vista-desktop">
            <article class="logo-iconos-desktop">
                <h2 class="logo">Creative Place</h2>
                <div class="iconos-footer-desktop">
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-whatsapp"></i>
                </div>
            </article>
            <div class="contacto-desktop">
                <li class="comunidad"><a href="#">Comunidad</a></li>
                <div>
                    <p class="p-contacto">contacto:</p>
                    <span>
                        <p>CreativePlace@gmail.com</p>
                        <p>+54 9 1224378</p>
                    </span>
                </div>
                
            </div>
            <ul>
                <li><a href="#">Términos y condiciones</a></li>
                <li><a href="#">Políticas de privacidad</a></li>
                <li><a href="#">Sobre nosotros</a></li>
            </ul>
        </section>
        <div class="copyright-desktop vista-desktop">
                <p>© 2022 Creative Place</p>
            </div>
    </footer>
</body>
</html>