<%- include("./partials/head", {link :"/css/load-edit-product.css", titulo: "Edición"}) %>
<link rel="stylesheet" href="/css/load-edit-product.css">
<title>edición</title>
<body>
    
</head>
<body>
    <%- include('./partials/header')%>
<!--MAIN START-->

    <main>
        <section class="section-1">
            <img src="img" alt="img" class="imagen">
            <form action="">
                <input type="text" placeholder="Nombre del producto">
                <br>
                <textarea id="text" name="text" rows="8" cols="40" placeholder="Descripción"></textarea>
                <br/>
                <input type="text" placeholder="Categoría">
                <input type="number"><span>$</span>

            </form>
        </section>

        <section>
            <form action="">
                <label for="text">Modulo 1</label>
                <br>
                <textarea id="text" name="text" rows="8" cols="40" placeholder="Descripción"></textarea>
                <br/>
              </form>
            
            <button>Agregar</button>

            <article>
                <form action="">
                    <h2>Modalidad</h2>
                    <label for="duracion">Duración </label>
                    <input type="number" name="duracion"><span> Meses</span>

                    <label for="tiempo requerido">Dedicación semanal </label>
                    <input type="number" name="tiempo requerido"><span> Horas</span>

                    <label for="proximo inicio">Próximo inicio de curso </label>
                    <input type="date" name="proximo inicio"> <!--Esto esta mal, necesito de esta fecha a otra(lapso de tiempo)-->

                    <label for="turnos">Turnos </label>
                    <select name="turnos" >
                        <option value="" disabled selected>Selecciona el turno</option>
                        <option value="Mañana">Mañana</option>
                        <option value="Tarde">Tarde</option>
                        <option value="Noche">Noche</option>
                      </select>
                </form>

                <button>Subir curso</button>
            </article>

        </section>


    </main>
<!--MAIN ENDS-->

    <%- include('./partials/footer')%>
</body>
</html>