<%- include("./partials/head", {link :"/css/login.css", titulo: "login"}) %>
<link rel="stylesheet" href="/css/login.css">
<title>login</title>
<body>
    <%- include('./partials/header')%>
    <main>

        <section class="seccion-1">
            <div class="message-login">
                Hola, ¡volviste!
            </div>
        </section>
        
        <section class="seccion-2">
            <h2>Hola, ¡volviste!</h2>
            <div class="errors">
                <ul></ul>    
            </div>
            <form action="/login" method="POST" class="form-login"> 
                <input type="email" name="email" class="email" placeholder="Correo electrónico">
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                        <%= errors.email.msg  %>
                    </div>
                <%} %>
                <input type="password" name="password" class="password" placeholder="Contraseña">
                <input type="checkbox" class="remember"><span>Recordarme</span>
                <button class="botones" type="submit">Iniciar Sesión</button>
                <p class="link-login">¿No tenes cuenta?<a href="/register"> Hace click aquí</a></p>
                <a href="#" class="link-login">¿Olvidaste tu contraseña?</a>
                <button class="botones"><span class="icon"><i class="fa-brands fa-google"></i></span><span class="botones2">Iniciar sesión con Facebook</span></button>
                <button class="botones"><span class="icon"><i class="fa-brands fa-facebook"></i></span><span class="botones2">Iniciar sesión con Google</span></button>
            </form>

        
        </section>

        
 <!-- Main -->
    </main>
    <%- include('./partials/footer')%>
    <script src="/js/validationLogin.js"></script>
</body>
</html>