<%- include("./partials/head", {link :"/css/perfil.css", titulo: "Creative Place Usuario"}) %> <!--Tengo que sacar el iniciar sesion-->
    <link rel="stylesheet" href="/css/perfil.css">
    <title>Creative Place Usuario</title>
<body>
    <%- include('./partials/header')%>
<!-- MAIN--> 

    <main>

        <section>
            <h1 class="saludo">
                Hola <%= user %> !
            </h1>
        </section>

        <section>
            <h2 class="mis-cursos">
                Mis cursos <!--traer cursos con ejs-->
            </h2>
        </section>
        
    </main> 

<!--Termina MAIN-->
    <%- include('./partials/footer')%>
</body>
</html>