<body>
    <link rel="stylesheet" href="/css/perfil.css">
    <title>carrito de compras</title>
<!-- Header -->
    <%- include('./partials/header')%>
    
<!-- Main -->
    <main>
        <section>
            <img src="img/perfil.jpg" alt="" class="imagen">
        </section>
    </main>
<!-- footer -->
    <%- include('./partials/footer')%>
</body>
</html>