<%-include("./partials/head", {link: "", titulo: "Lista de productos"}) %>
    <body>
        <%- include('partials/header.ejs') %>
        <h1>Product List</h1>
        <ul>
            <% for (let i = 0; i < productos.length; i++) { %>
                <li>
                    <a href="/detalle/<%=productos[i].id%>"><%= productos[i].nombre %></a>
                </li>
            <% } %>
        </ul>
        <h2>Search</h2>
        <form action="/products/search" method="GET">
            <input type="text" name="search">
            <input type="submit" value="search">
        </form>
    </body>
</html>
