<%- include("./partials/head", {link :"/css/register.css", titulo: "register"}) %>
<link rel="stylesheet" href="/css/register.css">
<title>register</title>
<body>
    <!-- Header -->
    <%- include('./partials/header')%>
    <!-- Main -->
    <main>
        <section class="seccion-1">
            <div class="message-register">
            Las siguientes empresas contratan a nuestros estudiantes.
            </div>
            <ul>
                <li><a href="#">Mercado Liebre</a></li>
                <li><a href="#">Globante</a></li>
                <li><a href="#">Aterrizar</a></li>
                <li><a href="#">OLX</a></li>
                <li><a href="#">Auth0</a></li>
            </ul>

        </section>
        <section class="seccion-2">
            <h2 class="titulo">Impulsá tu futuro.</h2>
            <form  method="POST" action="register.html">

                <input type="text" name="" id="" placeholder="Nombre">
                
                
                    <input type="text" name="" id="" placeholder="Apellido">
                
                
                    <select name="País de residencia" id="">
                        <option value="" disabled selected>Selecciona tu país de residencia</option>
                        <option value="Argentina">Argentina</option>
                        <option value="Bolivia">Bolivia</option>
                        <option value="Brasil">Brasil</option>
                        <option value="Chile">Chile</option>
                        <option value="Colombia">Colombia</option>
                        <option value="Estados Unidos">Estados Unidos</option>
                        <option value="Honduras">Honduras</option>
                        <option value="Paraguay">Paraguay</option>
                        <option value="Perú">Perú</option>
                        <option value="México">México</option>
                        <option value="Uruguay">Uruguay</option>
                        <option value="Venezuela">Venezuela</option>
                        <option value="Otro">Otro</option>
                    </select>
                
                    <input type="email" name="" id="" placeholder="E-mail">
                

                
                    <input type="password" name="" id="" placeholder="Contraseña">
                
                    
                    <button class="botones" type="submit">
                        <a href="#" class="botones">Registrarme</a>
                    </button>
                    
                    
                    <p class="link-login">¿Ya tienes una cuenta? <a href="#">Ingresa aquí.</a> </p>
                    
                    
                    <button class="botones">
                        <a href="#" class="botones2"><i class="fa-brands fa-facebook"></i>Registrarme con Facebook</a>
                    </button>
                    
                    <button class="botones">
                        <a href="#" class="botones2"><i class="fa-brands fa-google"></i>Registrarme con Google</a>
                    </button>
                    
                </form>
        </section>
    </main>
    <!-- footer -->
    <%- include('./partials/footer')%>
    </body>
    </html>