<header class="logo-bars">
    <a href="/" class="logo">Creative Place</a>
    <article class="menu-desplegable"><!--Caja del menú desplegable-->
            <input type="checkbox" name="menu-hamburguesa" id="menu-hamburguesa">
            <label for="menu-hamburguesa"><i class="fas fa-bars"></i></label>
            <div class="links">
                <% if(user){ %>
                    <form action="#" method="post">
                        <button>Perfil</button>
                    </form>
                <% } else { %>
                    <form action="#" method="post">
                        <button>Iniciar Sesión</button>
                    </form>
                <% } %>
                <ul>
                    <li><a href="/products" class="cursos">Cursos</a></li>
                    <!--<li><a href="#">Sobre nosotros</a></li>
                    <li><a href="#">Contáctanos</a></li>
                    <li><a href="#">Empresas</a></li>-->
                </ul>
            </div>
    </article>
    <nav class="vista-desktop">
        <a href="/products" class="cursos">Cursos</a>
       <!-- <a href="#">Sobre nosotros</a>
        <a href="#">Contáctanos</a>
        <a href="#">Empresas</a>-->
    </nav>
    <form action="#" method="post" class="vista-desktop">
        <input type="search" name="search" id="search" placeholder="Estoy buscando...">
        <i class="fa-solid fa-magnifying-glass"></i>
    </form>
    <% if(user){ %>
        <a href='/perfil' class="vista-desktop">Perfil</a> 
    <% } else { %>
        <a href='/login' class="vista-desktop">Iniciar Sesión</a> 
    <% } %>                
    
</header>